<h2>welcome to <span class="glyphicon glyphicon-book" aria-hidden="true"></span>Bookers !!</h2>

<h4>in <span class="glyphicon glyphicon-book" aria-hidden="true"></span>bookers,<br/>
you can share and exchange your opinions, inpressions, and emotions<br/>
about various books!</h4>

<h2><%= link_to "Log in", new_user_session_path,  class: "btn btn-default" %></h2>
<h2><%= link_to "Sign up", new_user_registration_path ,  class: "btn btn-default" %></h2>

